.titleBar {
  background-color: black;
  display: block;
  color: white;
  padding-left: 16px;
  margin: auto;
}

.searchBar {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 16px;
}

.searchBarTest {
  overflow: hidden;
  padding-right: .5em;
}

.searchBarWidth {
  width: 100%;
  font-size: 24px;
}

.submit {
  float: right;
  font-size: 24px;
}

.App {

}

.titleText {
  font-size: 60px;
  margin-left: 250px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
